{% if pageCount > 1 %}
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">

        {# Bouton "Précédent" #}
        {% if previous is defined %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="Précédent">
                    <span aria-hidden="true">&laquo; Précédent</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo; Précédent</span>
            </li>
        {% endif %}

        {# Liens vers les pages #}
        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="page-item active">
                    <span class="page-link">{{ page }}</span>
                </li>
            {% endif %}
        {% endfor %}

        {# Bouton "Suivant" #}
        {% if next is defined %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="Suivant">
                    <span aria-hidden="true">Suivant &raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Suivant &raquo;</span>
            </li>
        {% endif %}

    </ul>
</nav>
{% endif %}
