{% extends 'base.html.twig' %}


{% block title %}Articles{% endblock %}

{# liens css et js article_list #}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('article_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('article_list') }}
{% endblock %}

{% block body %}
    {{ include('article/_form.html.twig') }}

   <h1>Liste des articles</h1>

    <table id="articles-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Catégories</th>
                <th>Commentaires</th>
                <th>J'aime</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
  
        </tbody>
    </table>

{# 
    <div class="d-flex justify-content-center mt-4">
        {{ knp_pagination_render(pagination, 'pagination/pagination.html.twig') }}
    </div> #}


{% endblock %}
