{% extends 'base.html.twig' %}


{% block title %}Articles{% endblock %}

{# liens css et js article_list #}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('article_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('article_list') }}
{% endblock %}

{% block body %}
    <h1 class="text-center">Mon Blog</h1>

    {{ include('article/_form.html.twig') }} 


    <h1>Listes des articles</h1>

    {% for article in pagination %}
        <div class="card mb-3">
            <div class="card-body">
                <h3>{{ article.title }}</h3>
                <p>{{ article.content|slice(0, 150) ~ '...' }}</p>
                <p>
                    <strong>Catégories :</strong>
                    {% for category in article.categories %}
                        {{ category.title }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <a class="btn btn-info" href="{{ path('app_article_show', {id: article.id}) }}" class="btn btn-sm btn-info">Voir plus</a>
                <a class="btn btn-warning" href="{{ path('app_article_edit', {id: article.id}) }}" class="btn btn-sm btn-secondary">Modifier</a>
            </div>
        </div>
    {% else %}
        <p>Aucun article trouvé.</p>
    {% endfor %}

    <div class="d-flex justify-content-center mt-4">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
