{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{# liens styles css #}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('article') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('article') }}
{% endblock %}

{% block body %}
    <h1>Articles</h1>
    <div class="card mb-3">
        <div class="card-body">
            <h2>{{ article.title }}</h2>
            <p>{{ article.content }}</p>
            <p class="card-text">
                <strong>Catégories :</strong>
                {% for category in article.categories %}
                    {{ category.title }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            {# <button class="like-button {{ article.isLikedByIp(app.request.clientIp) ? 'liked' : '' }}"data-article-id="{{ article.id }}" data-url="{{ path('api_article_like', {id: article.id}) }}">
            ❤️ J’aime <span id="likes-count">{{ article.getLikeCount() }}</span>
        </button> #}



            <p> article likes:{{ article.likes|length }}</p>
            <p>Publié le : {{ article.createdAt|date('d/m/Y H:i') }}</p>

            <h3>Commentaires</h3>
            {% if article.comments|length > 0 %}
                    {% for comment in article.comments|sort((a, b)=> b.createdAt <=> a.createdAt) %}
                         {% include 'comment/_comment.html.twig' with {'comment': comment} %}                   
                    {% endfor %}
            {% else %}
                <div class="alert alert-info">
                    Aucun commentaire pour le moment. Soyez le premier à réagir !
                </div>
            {% endif %}

            <h3>Ajouter un commentaire</h3>
            {% include 'comment/_form.html.twig' with {
                form: form,
                action: path('app_article_show', { id: article.id }),
                button_label: 'Commenter'
            } %}     
        </div>
    </div>
    
    

    <a class="btn btn-sencondary" href="{{ path('app_article_index') }}">Revenir à la liste</a>

    <a class="btn btn-warning" href="{{ path('app_article_edit', {'id': article.id}) }}">editer</a>

    {{ include('article/_actions.html.twig') }}
{% endblock %}
