{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{# liens styles css #}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('article') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('article') }}
{% endblock %}

{% block body %}
    <h1>Articles</h1>
    
    <div class="card mb-4">
        <div class="card-body">
            <article class="article-card">
                <h3 class="article-title">{{ article.title }}</h3>

                <p class="article-content">{{ article.content|nl2br }}</p>

                <p class="article-categories">
                    <strong>Catégories :</strong>
                    {% for category in article.categories %}
                        <span class="category-badge">{{ category.title }}</span>
                    {% endfor %}
                    <time class="published-date" datetime="{{ article.createdAt|date('c') }}">
                        Publié le : {{ article.createdAt|date('d/m/Y H:i') }}
                    </time>
                </p>

                <div class="icon-stats">
                    <span>

                        <button class="like-button {{ article.isLikedByUser(app.user) ? 'liked' : '' }}">
                            {% if article.isLikedByUser(app.user) %}
                                <i class="fas fa-heart" style="color: red;"></i>
                            {% else %}
                                <i class="far fa-heart" style="color: red;"></i>
                            {% endif %}
                        </button> 

                        <span id="likes-count">{{ article.getLikeCount() }}</span>
                    </span>

                    <span>
                        💬 <span id="comments-count">{{ article.comments|length }}</span>
                    </span>
                </div>
            </article>

            <div id="alerts-container"></div>

            <div class="comments-wrapper" id="comments-list">
                {% if article.comments|length > 0 %}
                    {% for comment in article.comments|sort((a, b) => b.createdAt <=> a.createdAt) %}
                        {% include 'comment/_comment.html.twig' with {'comment': comment} %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info">Aucun commentaire pour le moment. Soyez le premier à réagir !</div>
                {% endif %}
            </div>

            <h4>Ajouter un commentaire</h4>
            {% include 'comment/_form.html.twig' with {
                form: form,
                article: article,
                action: path('api_article_comment', { id: article.id }),
                button_label: 'Commenter'
            } %}
        </div>
        <a class="btn btn-dark" href="{{ path('app_article_index') }}">Revenir à la liste</a>
    </div

{% endblock %}
